
Data for this article is taken from https://www.kaggle.com/rtatman/animal-bites

Column information:
- bite_date: Date the victim was bitten
- SpeciesIDDesc: Species of the animal causing the bite (eg dog, cat, ...)
- BreedIDDesc: Breed if any (eg PIT BULL dog breed)
- GenderIDDesc: Gender of the animal
- color: Color of the animal
- vaccination_yrs: Number of years since the animal was last vaccinated
- vaccination_date: The last time the animal was vaccinated
- victim_zip: Victim's zipcode
- AdvIssuedYNDesc: Did the victim receive advice from a doctor
- WhereBittenIDDesc: Location of being bitten
- quarantine_date: The date the animal was confined, if any
- DispositionIDDesc: Action of the authorities with the animal
- head_sent_date: Date the animal was brought to the research room to be tested for rabies, if any
- release_date: Date the animal was released, if any
- ResultsIDDesc: Rabies test results, if any

a) Read the file Health_animalBites.csv and save it to the variable `bites`.

b) Perform necessary data conversions. To handle errors, look at the errors parameter. Reset the errors parameter to the appropriate character string to convert error values to NaT. https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html

In [1]:
# Import libraries
import pandas as pd
import numpy as np
from datetime import datetime

In [3]:
bites = pd.read_csv(r'C:\Users\homin\OneDrive\Máy tính\NguyenHO\CV\IT\Project\Python-Analyzing-Data-Bites\Data_Bites.csv')
bites['bite_date'] = pd.to_datetime(bites.bite_date , errors= 'coerce')
bites['vaccination_date'] = pd.to_datetime(bites.vaccination_date , errors= 'coerce')
bites['quarantine_date'] = pd.to_datetime(bites.quarantine_date , errors= 'coerce')
bites['head_sent_date'] = pd.to_datetime(bites.head_sent_date , errors= 'coerce')
bites['release_date'] = pd.to_datetime(bites.release_date , errors= 'coerce')
bites

,bite_date,SpeciesIDDesc,BreedIDDesc,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc
0,1985-05-05,DOG,NaN,FEMALE,LIG. BROWN,1.0,1985-06-20,40229,NO,BODY,1985-05-05,UNKNOWN,NaT,NaT,UNKNOWN
1,1986-02-12,DOG,NaN,UNKNOWN,BRO & BLA,NaN,NaT,40218,NO,BODY,1986-02-12,UNKNOWN,NaT,NaT,UNKNOWN
2,1987-05-07,DOG,NaN,UNKNOWN,NaN,NaN,NaT,40219,NO,BODY,1990-05-07,UNKNOWN,NaT,NaT,UNKNOWN
3,1988-10-02,DOG,NaN,MALE,BLA & BRO,NaN,NaT,NaN,NO,BODY,1990-10-02,UNKNOWN,NaT,NaT,UNKNOWN
4,1989-08-29,DOG,NaN,FEMALE,BLK-WHT,NaN,NaT,NaN,NO,BODY,NaT,UNKNOWN,NaT,NaT,UNKNOWN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8998,2017-09-05,DOG,NaN,NaN,NaN,NaN,NaT,40243,NaN,UNKNOWN,NaT,NaN,NaT,NaT,NaN
8999,2017-09-07,DOG,POMERANIAN,MALE,RED,NaN,NaT,40204,NaN,HEAD,NaT,NaN,NaT,NaT,NaN
9000,2017-09-07,DOG,LABRADOR RETRIV,MALE,BROWN,NaN,NaT,47130,NaN,UNKNOWN,NaT,NaN,NaT,NaT,NaN
9001,2017-09-07,DOG,LABRADOR RETRIV,FEMALE,BLK WHT,NaN,NaT,40229,NaN,BODY,NaT,NaN,NaT,NaT,NaN
9002,2017-09-07,DOG,BOXER,NaN,BRN BLK,NaN,NaT,40229,NaN,BODY,NaT,NaN,NaT,NaT,NaN


a) Filter out lines from the DataFrame `bites` that do not have NaN values in the SpeciesIDDesc and BreedIDDesc columns and store them in a new variable `species`.

b) What species are in the DataFrame `species`? How many varieties are there for each species?

In [4]:
species = bites[pd.notna(bites).SpeciesIDDesc & pd.notna(bites).BreedIDDesc]
detailed_species = species.SpeciesIDDesc.unique()
print('Species:', detailed_species)
species

Species: ['DOG' 'CAT']

,bite_date,SpeciesIDDesc,BreedIDDesc,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc
1153,2010-12-24,DOG,GERM SHEPHERD,UNKNOWN,BROWN/BLAC,NaN,NaT,40291,NO,BODY,2010-12-27,UNKNOWN,2010-12-26,NaT,NEGATIVE
1202,2011-01-11,DOG,DACHSHUND,MALE,RED,1.0,2010-02-12,40207,NO,BODY,2011-01-12,UNKNOWN,NaT,NaT,UNKNOWN
1208,2011-01-16,DOG,PIT BULL,UNKNOWN,BLK-WHITE,NaN,NaT,40216,NO,BODY,2011-01-18,KILLED,2011-01-16,NaT,NEGATIVE
1239,2011-01-28,DOG,GERM SHEPHERD,MALE,BLACK,NaN,NaT,40215,NO,NaN,2011-01-28,NaN,NaT,NaT,NaN
1244,2011-01-29,DOG,SHIH TZU,MALE,BEIGE-WHT,3.0,2010-07-26,40223,NO,BODY,2011-01-31,NaN,NaT,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8997,2017-09-06,DOG,CHICHAUHUA,FEMALE,TAN,NaN,NaT,40206,NaN,HEAD,NaT,NaN,NaT,NaT,NaN
8999,2017-09-07,DOG,POMERANIAN,MALE,RED,NaN,NaT,40204,NaN,HEAD,NaT,NaN,NaT,NaT,NaN
9000,2017-09-07,DOG,LABRADOR RETRIV,MALE,BROWN,NaN,NaT,47130,NaN,UNKNOWN,NaT,NaN,NaT,NaT,NaN
9001,2017-09-07,DOG,LABRADOR RETRIV,FEMALE,BLK WHT,NaN,NaT,40229,NaN,BODY,NaT,NaN,NaT,NaT,NaN
9002,2017-09-07,DOG,BOXER,NaN,BRN BLK,NaN,NaT,40229,NaN,BODY,NaT,NaN,NaT,NaT,NaN

In [7]:
for species_name in detailed_species:
 print('Species:',species_name,'No_breed:',species[species['SpeciesIDDesc'] == species_name].BreedIDDesc.nunique())

Species: DOG No_breed: 101
Species: CAT No_breed: 2

a) In the `species` DataFrame, which dog breed is the most popular?

b) Among black dogs, which breed is the most popular?

In [9]:
dog = species[species['SpeciesIDDesc'] == 'DOG']
breed_dog = dog['BreedIDDesc'].unique()
max = 0
breed = ''
for name in breed_dog:
  data = dog[dog['BreedIDDesc'] == name].shape[0]
  if data > max:
    max = data
    breed = name
print('The most popular dog breed is :',breed)

The most popular dog breed is : PIT BULL

In [10]:
dog1 = dog.dropna(subset = ['color'])
black_dog = dog1[dog1['color'].str.contains('BLACK') | dog1['color'].str.contains('BLk')]
black_dog

,bite_date,SpeciesIDDesc,BreedIDDesc,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc
1239,2011-01-28,DOG,GERM SHEPHERD,MALE,BLACK,NaN,NaT,40215,NO,NaN,2011-01-28,NaN,NaT,NaT,NaN
1252,2011-02-04,DOG,SHIH TZU,FEMALE,BLACK,1.0,2011-02-19,40229,NO,BODY,2011-02-09,NaN,NaT,NaT,NaN
1265,2011-02-11,DOG,PIT BULL,FEMALE,BLACK-WHIT,3.0,2010-06-26,40219,NO,HEAD,2011-02-14,NaN,NaT,NaT,NaN
1283,2011-02-17,DOG,AAUST. TERR.,MALE,BLACK-WHIT,1.0,2011-03-15,40229,NO,BODY,2011-02-21,NaN,NaT,NaT,NaN
1288,2011-02-18,DOG,COCKER SPAINEL,MALE,BLACK-TAN,NaN,NaT,40211,NO,BODY,2011-02-21,RELEASED,NaT,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8969,2017-08-27,DOG,HAVANESE,MALE,BLACK,NaN,NaT,40214,NaN,BODY,NaT,NaN,NaT,NaT,NaN
8970,2017-08-29,DOG,CANE CORSO,MALE,BLACK,NaN,NaT,40204,NaN,BODY,NaT,NaN,NaT,NaT,NaN
8973,2017-08-30,DOG,GREAT DANE,FEMALE,BLACK,NaN,NaT,40212,NaN,BODY,NaT,NaN,NaT,NaT,NaN
8993,2017-09-04,DOG,CANE CORSO,MALE,BLACK,NaN,NaT,40219,NaN,BODY,NaT,NaN,NaT,NaT,NaN
8995,2017-09-04,DOG,BLACK LAB,MALE,BLACK,NaN,NaT,40229,NaN,BODY,NaT,NaN,NaT,NaT,NaN

In [11]:
breed_black_dog = black_dog.BreedIDDesc.unique()
max_black = 0
breed_black = ''
for name_black in breed_black_dog:
  data_black = black_dog[black_dog['BreedIDDesc'] == name_black].shape[0]
  if data_black > max_black:
    max_black = data_black
    breed_black = name_black
print('The most popular black dog breed is :',breed_black)

The most popular black dog breed is : LABRADOR RETRIV

a) Returning to the `bites` DataFrame, how many human bites were recorded in 2015?

b) Of these bites, print information about those that are __not__ confirmed to have been caused by dogs or cats.

In [12]:
print('No_bites2015:',bites[bites.bite_date.dt.year == 2015].shape[0])

No_bites2015: 985

In [13]:
data_2015 = bites[bites.bite_date.dt.year == 2015]
data_2015[(data_2015.SpeciesIDDesc.str.find('CAT') == -1) & (data_2015.SpeciesIDDesc.str.find('DOG') == -1)]

,bite_date,SpeciesIDDesc,BreedIDDesc,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc
1413,2015-01-30,BAT,NaN,NaN,NaN,NaN,NaT,NaN,NO,UNKNOWN,NaT,NaN,2015-01-30,NaT,NEGATIVE
1418,2015-05-05,BAT,NaN,NaN,NaN,NaN,NaT,40203,NaN,NaN,NaT,NaN,2015-05-05,NaT,POSITIVE
1435,2015-07-04,BAT,NaN,NaN,NaN,NaN,NaT,40243,NaN,NaN,NaT,NaN,2015-07-04,NaT,NEGATIVE
1442,2015-08-17,BAT,NaN,NaN,NaN,NaN,NaT,40207,NaN,BODY,NaT,NaN,2015-08-17,NaT,NEGATIVE
1445,2015-11-03,BAT,NaN,NaN,NaN,NaN,NaT,40211,NaN,NaN,NaT,NaN,2015-11-03,NaT,NEGATIVE
1447,2015-12-11,BAT,NaN,NaN,NaN,NaN,NaT,40299,NaN,BODY,NaT,NaN,2015-12-11,NaT,NEGATIVE
6213,2015-01-01,FERRET,NaN,NaN,NaN,1.0,2015-01-27,40207,NaN,BODY,NaT,NaN,NaT,NaT,NaN
6226,2015-01-18,BAT,NaN,UNKNOWN,BROWN,NaN,NaT,NaN,NaN,BODY,NaT,NaN,NaT,NaT,NaN
6848,2015-08-16,BAT,NaN,NaN,NaN,NaN,NaT,40206,NaN,BODY,NaT,NaN,NaT,NaT,NaN
6927,2015-09-17,HORSE,NaN,NaN,BROWN,NaN,NaT,40220,NaN,UNKNOWN,NaT,NaN,NaT,NaT,NaN
7028,2015-10-25,RACCOON,NaN,NaN,NaN,NaN,NaT,40241,NaN,NaN,NaT,NaN,NaT,NaT,NEGATIVE
7048,2015-11-04,RACCOON,NaN,NaN,BLK GRAY,NaN,NaT,40204,YES,BODY,NaT,NaN,NaT,NaT,NaN

a) List bite locations in the data, excluding NaN and UNKNOWN values.

b) Which animal __wasn't recorded biting a victim on the head?

In [14]:
bited = bites[(bites.WhereBittenIDDesc.str.find('NaN') == -1) & (bites.WhereBittenIDDesc.str.find('UNKNOWN') == -1)]
bited.WhereBittenIDDesc.unique()

array(['BODY', 'HEAD'], dtype=object)

In [12]:
bited_not_head = bited[bited.WhereBittenIDDesc.str.find('HEAD') == -1]
bited_not_head

,bite_date,SpeciesIDDesc,BreedIDDesc,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc
0,1985-05-05,DOG,NaN,FEMALE,LIG. BROWN,1.0,1985-06-20,40229,NO,BODY,1985-05-05,UNKNOWN,NaT,NaT,UNKNOWN
1,1986-02-12,DOG,NaN,UNKNOWN,BRO & BLA,NaN,NaT,40218,NO,BODY,1986-02-12,UNKNOWN,NaT,NaT,UNKNOWN
2,1987-05-07,DOG,NaN,UNKNOWN,NaN,NaN,NaT,40219,NO,BODY,1990-05-07,UNKNOWN,NaT,NaT,UNKNOWN
3,1988-10-02,DOG,NaN,MALE,BLA & BRO,NaN,NaT,NaN,NO,BODY,1990-10-02,UNKNOWN,NaT,NaT,UNKNOWN
4,1989-08-29,DOG,NaN,FEMALE,BLK-WHT,NaN,NaT,NaN,NO,BODY,NaT,UNKNOWN,NaT,NaT,UNKNOWN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8993,2017-09-04,DOG,CANE CORSO,MALE,BLACK,NaN,NaT,40219,NaN,BODY,NaT,NaN,NaT,NaT,NaN
8995,2017-09-04,DOG,BLACK LAB,MALE,BLACK,NaN,NaT,40229,NaN,BODY,NaT,NaN,NaT,NaT,NaN
8996,2017-09-04,DOG,NaN,NaN,NaN,NaN,NaT,40214,NaN,BODY,NaT,NaN,NaT,NaT,NaN
9001,2017-09-07,DOG,LABRADOR RETRIV,FEMALE,BLK WHT,NaN,NaT,40229,NaN,BODY,NaT,NaN,NaT,NaT,NaN
9002,2017-09-07,DOG,BOXER,NaN,BRN BLK,NaN,NaT,40229,NaN,BODY,NaT,NaN,NaT,NaT,NaN

a) In the data, how many rabies-negative (NEGATIVE) animals were killed (KILLED) or died (DIED)? Hint: Use `&` and `|`.

b) Between 2010 and 2015, what percentage of human bites in the data did dogs account for?

In [15]:
bites[((bites.ResultsIDDesc.str.find('NEGATIVE') != -1) & (bites.DispositionIDDesc.str.find('KILLED') != -1) 
      | (bites.ResultsIDDesc.str.find('NEGATIVE') != -1) & (bites.DispositionIDDesc.str.find('DIED') != -1))
      & (~bites.ResultsIDDesc.str.find('NEGATIVE').isna()) & (~bites.DispositionIDDesc.str.find('DIED').isna())]

,bite_date,SpeciesIDDesc,BreedIDDesc,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc
1115,2010-12-09,DOG,NaN,UNKNOWN,NaN,NaN,NaT,40214,NO,BODY,2010-12-09,KILLED,2010-12-10,NaT,NEGATIVE
1208,2011-01-16,DOG,PIT BULL,UNKNOWN,BLK-WHITE,NaN,NaT,40216,NO,BODY,2011-01-18,KILLED,2011-01-16,NaT,NEGATIVE
1276,2011-02-16,BAT,NaN,NaN,NaN,NaN,NaT,40258,NO,BODY,NaT,KILLED,2011-02-16,NaT,NEGATIVE
1367,2011-07-06,DOG,NaN,NaN,BLACK,NaN,NaT,40214,NaN,BODY,NaT,KILLED,2011-07-07,NaT,NEGATIVE
1369,2011-09-01,DOG,PIT BULL,MALE,BRN-WHT,NaN,NaT,40213,NO,BODY,NaT,KILLED,2011-09-01,NaT,NEGATIVE
1373,2011-10-05,CAT,NaN,MALE,ORANGE,NaN,NaT,40223,NO,BODY,2011-10-05,DIED,2011-10-14,NaT,NEGATIVE
1374,2011-10-12,OTHER,NaN,NaN,NaN,NaN,NaT,40245,NO,BODY,NaT,KILLED,2011-10-14,NaT,NEGATIVE
1375,2011-10-13,CAT,NaN,NaN,BUFF,NaN,NaT,40219,NO,BODY,2011-10-13,KILLED,2011-10-20,NaT,NEGATIVE
1376,2011-11-12,BAT,NaN,NaN,NaN,NaN,NaT,40211,NO,BODY,NaT,KILLED,2011-11-12,NaT,NEGATIVE
1377,2011-11-15,DOG,AMER. BULL DOG,MALE,BRN-WHITE,NaN,NaT,40211,NO,BODY,NaT,KILLED,2011-11-18,NaT,NEGATIVE
1379,2011-12-09,CAT,NaN,NaN,NaN,NaN,NaT,40222,NO,BODY,NaT,DIED,2011-12-09,NaT,NEGATIVE
1416,2015-04-30,DOG,AAUST. TERR.,FEMALE,BROWN,NaN,NaT,40220,NO,BODY,NaT,KILLED,2015-04-30,NaT,NEGATIVE
1419,2015-05-11,DOG,LABRADOR RETRIV,FEMALE,GOLDEN,NaN,NaT,40047,NO,UNKNOWN,NaT,KILLED,2015-05-18,NaT,NEGATIVE
1421,2015-05-19,CAT,NaN,FEMALE,CALICO,NaN,NaT,40215,NO,BODY,NaT,KILLED,2015-05-19,NaT,NEGATIVE
1497,2017-03-08,DOG,PIT BULL,FEMALE,BROWN,NaN,NaT,40208,NO,UNKNOWN,2017-03-09,KILLED,2017-03-09,NaT,NEGATIVE
1513,NaT,OTHER,NaN,NaN,NaN,NaN,NaT,40299,NO,NaN,NaT,DIED,2011-05-24,NaT,NEGATIVE

In [32]:
dog_5 = bites[(bites['bite_date'].dt.year >= 2010) & (bites['bite_date'].dt.year <= 2015)]
dogs_5 = dog_5[dog_5.SpeciesIDDesc.str.find('DOG') != -1].shape[0]
print('Between 2010 and 2015, the percentage of human bites did dogs account for :',round(100 / (dog_5.shape[0]) * dogs_5))

Between 2010 and 2015, the percentage of human bites did dogs account for : 81

a) Calculate the average number of years vaccinated for the animals (do not count lines with the value `NaN` in this column).

b) In 2017, how many attacks were there in which the attacking animal was a `BOXER` dog?

In [22]:
dog_2017 = bites[bites['bite_date'].dt.year == 2017]
dog_2017[dog_2017.BreedIDDesc.str.find('BOXER') != -1].shape[0]

332

In [23]:
average_vaccination_years = bites['vaccination_yrs'].dropna().mean()
average_vaccination_years

1.4521134296415195

In [25]:
filtered_data = bites[(bites['bite_date'].dt.year == 2017) 
                      & (bites['BreedIDDesc'].str.find('BOXER') != -1)]
number_of_attacks = filtered_data.shape[0]
number_of_attacks

332

In the years 2010 to 2016, which __varieties__ of __species__ caused the most bites? Do not count rows with the value `NaN` or `UNKNOWN` in these two columns. Suggestion: Should be divided into several steps.

In [27]:
# Filter data for the years 2010 to 2016
filtered_data = bites[(bites['bite_date'].dt.year >= 2010) & (bites['bite_date'].dt.year <= 2016)]

# Remove rows with NaN or UNKNOWN in 'SpeciesIDDesc' and 'BreedIDDesc'
filtered_data = filtered_data[filtered_data['SpeciesIDDesc'].notna() & (filtered_data['SpeciesIDDesc'] != 'UNKNOWN')]
filtered_data = filtered_data[filtered_data['BreedIDDesc'].notna() & (filtered_data['BreedIDDesc'] != 'UNKNOWN')]

# Count the combinations of species and variety
bite_counts = filtered_data.groupby(['SpeciesIDDesc', 'BreedIDDesc']).size()

# Find the most frequent combination
most_bites = bite_counts.idxmax()
most_bites_count = bite_counts.max()

(most_bites, most_bites_count)

(('DOG', 'PIT BULL'), 915)

a) How many animals were recorded when they were brought to the research lab?

b) Among these animals, what percentage do dogs account for?

In [28]:
number_animal = bites[pd.notna(bites).head_sent_date]
number_animal.shape[0]

395

In [30]:
dog_number = number_animal[number_animal['SpeciesIDDesc'].str.contains('dog', case=False, na=False)].shape[0]
print(round(100 / number_animal.shape[0] * dog_number))

27

In [21]:
# a) Counting the animals brought to the research lab
lab_visits_count = bites['head_sent_date'].notna().sum()

# b) Calculating the percentage of dogs among these animals
dogs_in_lab = bites[bites['SpeciesIDDesc'] == 'DOG']['head_sent_date'].notna().sum()
percentage_of_dogs = (dogs_in_lab / lab_visits_count) * 100 if lab_visits_count > 0 else 0

(lab_visits_count, percentage_of_dogs)

(395, 26.582278481012654)

a) How many dogs have recorded release dates?

b) Among them, how many were recorded to have been vaccinated for at least 1 year?

In [22]:
# a) Counting dogs with recorded release dates
dogs_with_release_dates = bites[(bites['SpeciesIDDesc'] == 'DOG') & (bites['release_date'].notna())]
number_of_dogs_with_release_dates = dogs_with_release_dates.shape[0]

# b) Counting vaccinated dogs with at least 1 year since last vaccination
vaccinated_dogs_over_a_year = dogs_with_release_dates[dogs_with_release_dates['vaccination_yrs'] >= 1]
number_of_vaccinated_dogs_over_a_year = vaccinated_dogs_over_a_year.shape[0]

(number_of_dogs_with_release_dates, number_of_vaccinated_dogs_over_a_year)

(1249, 943)